body{
    overflow-x: hidden;
}
@media(max-width:768px){
    header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
	background-color:rgb(20,24,33);
    padding: 15px;
    }
    nav ul{
        flex-direction: column;
        padding: 0;
    }
    img{
        width: 100%;
    }
    footer{
        font-size: 14px;
    }
    h1{font-size: 26px;}
    h2{ font-size: 22px;}
    h3{font-size: 18px;}
    p, li, a, label {
        font-size: 15px;
    }
    main .ban .banner h1 {
    font-size: 36px;
    }
    header .onglet{
    text-align: right;
    padding-right: 30px;
    } 
}
body{
    font-size: 16px;
    line-height: 1.6;
}
header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
	background-color:rgb(20,24,33);
    justify-content: space-between;
    padding: 15px;
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    text-align: right;
    padding-right: 30px;
} 
header .onglet a{
    padding: 0 5px;
    color: white;
}
main img{
	max-width: 100%;
	height: auto;
}	
main .ban .banner h4{
    text-align: center;    
}
main .ban .banner h1{
    text-align: center;
    font-size: 100px;
}
main .information{
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:50% 50%;
    width: 100%;
    height: auto;
    gap: 5px;
    padding:0 5px;
}
main .information .pseudo{
    background: #e8f5ff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .information .pseudo img{
    max-width: 65%;
    height: auto;
    object-fit: cover;
}
main .information .slogan{
    background: #e8f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}
main .information .titre{
    background: #e8f5ff;;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}
main .information .egslogan{
    display: flex;
    flex-direction: column;
    background: #e8f5ff;
    align-items: center;
    object-fit: cover;
}
main .information .egslogan img{
    max-width: 70%;
    height: 200;
    display: block;
}

footer{
	background-color:rgb(20,24,33);
	color:white;
	text-align:center;
}