@media(max-width:768px){
    header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
	background-color:rgb(20,24,33);
    padding: 15px;
    }
    nav ul{
        flex-direction: column;
        padding: 0;
    }
    img{
        width: 100%;
    }
    footer{
        font-size: 14px;
    }
    h1{font-size: 26px;}
    h2{ font-size: 22px;}
    h3{font-size: 18px;}
    h5{font-size: 16px;}
    p, li, a, label {
        font-size: 14px;
    }
    body{
    font-size: 16px;
    line-height: 1.6;
    }
    main .banner h1{
    font-size: 32px;
    }
    main .info h1{
    font-size: 28px;
    }
    header .onglet{
    text-align: right;
    padding-right: 30px;
    } 
}
header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
	background-color:rgb(20,24,33);
}
header .Logo img{
    width: 170px;
	border:solid 1px rgba(20,24,33,1)
	
}
header .onglet{
    text-align: right;
    padding-right: 80px;
} 
header .onglet a{
    padding: 0 5px;
    color: white;
}
main .banner{
    text-align: center;
}
main .bannerinfo{
    text-align: center;
}
main .banner h1{
    font-size: clamp(32px, 8vw, 80ox);
}
main .info{
    text-align: center;
}
main .info h1{
    font-size: clamp(28px, 6vw, 60px);
}
main .local img{
    width: 100%;
    height: 300px;
}
main .name form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
main .name form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}
main .email form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
main .email form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}
main .message form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
main .message form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}
footer{
    background-color:rgb(20,24,33);
	color:white;
	text-align:center;
}